<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Everything</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>touch-icon-57x57</string>
		<string>touch-icon-72x72</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.threerings.everything</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>assets/fonts/copper.ttf</string>
		<string>assets/fonts/treasure.ttf</string>
		<string>assets/fonts/josschrift.ttf</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb107211406428</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>107211406428</string>
</dict>
</plist>
