<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="@app_id@"
          android:screenOrientation="portrait"
          android:versionCode="@app_vers_code@"
          android:versionName="@app_vers@">
  <uses-sdk android:minSdkVersion="6" android:targetSdkVersion="18" />

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="com.android.vending.BILLING" />

  <application android:icon="@drawable/icon"
               android:label="@string/app_name"
               android:theme="@android:style/Theme.NoTitleBar"
               android:debuggable="@debuggable@">
    <activity android:name="everything.EverythingActivity"
              android:label="@string/app_name"
              android:theme="@android:style/Theme.NoTitleBar"
              android:launchMode="singleTask"
              android:configChanges="keyboardHidden|orientation">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- receiver for handling new grid notifications -->
    <receiver android:name="everything.EverythingActivity$NoteReceiver">
    </receiver>

    <!-- These are needed by the Facebook SDK -->
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_appid"/>
    <activity android:name="com.facebook.LoginActivity"
              android:theme="@android:style/Theme.Translucent.NoTitleBar"
              android:label="@string/app_name" />
  </application>
</manifest>
